.fotter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6278f7;
    background-image: url(/public/imagens/fundo.png);
    padding: 32px;
}


.fotter .logos-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fotter h5{
    color: #fff;
   font-weight: 20px;
   font-size: medium;
}

.logos-redes img{
    margin-right: 35px;
}